html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* site layout */
body {
  display: grid;
  grid-template-columns: 1em 1fr 1em;
  grid-template-areas:
    ".... .... ...."
    ".... head ...."
    ".... main ...."
    "foot foot foot"
    ;
  gap: 2em 0;
}

.site-header {
  grid-area: head;
}

main {
  grid-area: main;
  display: grid;
  gap: 2em;
}

footer {
  grid-area: foot;
}

/* Typography */
h1 {
  font-size: 2rem;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
}

/* ***************************************** */
/* *************** header ****************** */
/* ***************************************** */
.site-header {
  display: flex;
  justify-content: space-between;
}

.site-logo-container {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.site-logo-img {
  max-width: 24px;
}

.site-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 0.9rem;
}

/* nav */
.site-nav {
  flex-basis: 150px;
  font-weight: 600;
  font-size: 0.8rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ***************************************** */
/* *************** main ******************** */
/* ***************************************** */

/* main article */
.main-article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.main-article-title ,
.main-article-intro {
  margin: 0;
}

.main-article-title {
  font-weight: 700;
}

.main-article-intro {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
}

.main-article-date {
  grid-row: 1 / 2;
  color: #151515;
  font-size: 0.75rem;
}

.main-article-image {
  max-height: 190px;
  max-width: 374px;
  object-fit: cover;
  object-position: 0 -205px;
  border-radius: 3px;
  display: block;
  margin-top: 1em;
}

.main-article-body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.main-article-body p {
  margin: 1.5em 0;
}

.highlight {
  font-weight: 700;
}

/* recent-posts section */
.recent-posts {
   display: grid;
   gap: 2em;
}
.recent-posts-title {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.recent-post {
  display: flex;
  flex-direction: column;
  gap: 1em
}

.recent-post-title, 
.recent-post-summary {
 margin: 0;
}
.recent-post-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.recent-post-image {
  order: -2;
  max-width: 374px;
}

.recent-post-summary {
  font-size: 1rem;
  font-weight: 400;
  color: #505050;
  line-height: 1.25;
}

.recent-post-date {
  order: -1;
  color: #151515;
  font-size: 0.75rem;
}


/* ***************************************** */
/* *************** footer ****************** */
/* ***************************************** */

footer {
  background-color: #202020;
  text-align: center;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: .5em;
  justify-content: center;
  align-items: center;
  min-height: 105px;
}

.footer-title,
.footer-copyright {
  margin: 0;
}
.footer-title {
  color: #ECECEC;
  font-weight: 700;
  text-transform: capitalize;
}

.footer-copyright {
  display: block;
  color: #D7D7D7;
  font-weight: 400;
}