html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* site layout */
body {
  display: grid;
  grid-template-columns: 1em 1fr 1em;
  grid-template-areas:
    ".... .... ...."
    ".... head ...."
    ".... main ...."
    ".... foot ...."
    ".... .... ....";
  gap: 1em 0;
}

.site-header {
  grid-area: head;
}

main {
  grid-area: main;
}

footer {
  grid-area: foot;
}

/* Typography */
ul {
  padding: 0;
  list-style: none;
}

/* li {
    text-transform: uppercase;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 12px;
 } */

/* Images */

img {
  width: 100%;
}

.logo-img {
  max-width: 24px;
}

/* header */
.site-header {
  display: flex;
  justify-content: space-between;
}

.site-logo-container {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.site-title {
  font-weight: 700;
  font-style: Bold;
  font-size: .9rem;
}

/* nav */
.site-nav {
  flex-basis: 150px;
  font-weight: 600;
  font-size: .8rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  text-transform: uppercase;
  letter-spacing: 1px;
}
