html {
  font-size: 16px;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* site layout */
body {
  display: grid;
  grid-template-columns: 1em 1fr 1em;
  grid-template-areas:
    ".... .... ...."
    ".... head ...."
    ".... main ...."
    "foot foot foot"
    ;
  gap: 2em 0;
}

.site-header {
  grid-area: head;
}

main {
  grid-area: main;
}

footer {
  grid-area: foot;
}

/* Typography */
h1 {
  font-size: 2rem;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ***************************************** */
/* *************** header ****************** */
/* ***************************************** */
.site-header {
  display: grid;
  grid-template-columns: auto 1fr;
}

.site-logo-container {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.site-logo-img {
  max-width: 24px;
  max-height: 24px;
}

.site-title {
  font-weight: 700;
  font-size: 0.9rem;
}

/* nav */
.site-nav {
  display: flex;
  margin-left: auto;
  font-weight: 600;
  font-size: 0.8rem;
}

.nav-list {
  display: flex;
}

.nav-item {
  text-transform: uppercase;
  letter-spacing: 1px;
}


/* ***************************************** */
/* *************** main ******************** */
/* ***************************************** */

 main {
  display: grid;
  gap: 2em;
 }
/* main article */
.main-article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto) minmax(100px, 200px) auto;
  gap: 1.5em;
}

.main-article-title ,
.main-article-intro {
  margin: 0;
}

.main-article-title {
  font-weight: 700;
}

.main-article-intro {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
}

.main-article-date {
  grid-row: 1 / 2;
  color: #151515;
  font-size: 0.75rem;
}

.main-article-image {
 object-position: 50% 67%;
  border-radius: 3px;
  display: block;
  margin-top: 1em;
}

.main-article-body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.main-article-body p {
  margin: 1.5em 0;
}

.highlight {
  font-weight: 700;
}

/* recent-posts section */
.recent-posts {
   display: grid;
   gap: 2em;
}
.recent-posts-title {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.recent-post {
  display: grid;
  grid-column: 1;
  grid-template-rows: minmax(100px, 240px);
  gap: 1em
}

.recent-post-title, 
.recent-post-summary {
 margin: 0;
}
.recent-post-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.recent-post-image {
  order: -2;
}

.recent-post-summary {
  font-size: 1rem;
  font-weight: 400;
  color: #505050;
  line-height: 1.25;
}

.recent-post-date {
  order: -1;
  color: #151515;
  font-size: 0.75rem;
}


/* ***************************************** */
/* *************** footer ****************** */
/* ***************************************** */

footer {
  background-color: #202020;
  text-align: center;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: .5em;
  justify-content: center;
  align-items: center;
  min-height: 105px;
}

.footer-title,
.footer-copyright {
  margin: 0;
}
.footer-title {
  color: #ECECEC;
  font-weight: 700;
  text-transform: capitalize;
}

.footer-copyright {
  display: block;
  color: #D7D7D7;
  font-weight: 400;
}



/* ***************************************** */
/* *************** media query for pc ****** */
/* ***************************************** */


@media(min-width: 1024px ) {
  html {
  font-size: 24px;
}
  body {
  display: grid;
  grid-template-columns: 2.5em repeat(12, 1fr) 2.5em;
  grid-template-areas:
    ".... .... .... .... .... .... .... .... .... .... .... .... .... .... "
    ".... head head head head head head head head head head head head .... "
    ".... main main main main main main main main main main main main .... "
    "foot foot foot foot foot foot foot foot foot foot foot foot foot foot "
    ;
  gap: 2em 0;
}

/* *************** main ******************** */
  main {
    /* inherit the 12 columns placed with grid-template-areas, main take 12 column in areas  */
    grid-template-columns: subgrid;
  }
    /* main article */
  .main-article,
  .recent-posts {
    grid-column: 1 / -1;
  }

  .main-article {
    grid-template-columns: 3em 1fr 3em;
    grid-template-areas: 
    ". t ."
    ". h ."
    ". p ."
    "i i i"
    ". d ."
    ;
  grid-template-rows: repeat(3, auto) minmax(100px, 490px) auto;
    gap: 1em 0;
  }
  .main-article-date {
    grid-area: t;
  }

  .main-article-title {
    grid-area: h;
  }

  .main-article-intro {
    grid-area: p;
  }

  .main-article-image {
    grid-area: i;
    object-position: 50% 75%;
  }

  .main-article-body {
    grid-area: d;
  }

  /* recent-posts section */
  .recent-posts {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .recent-posts-title {
    grid-column: 1 / -1;
  }

  


}
/* 
 * Utility CSS class for reusable styling.
 * Apply this class to elements to quickly add predefined styles.
 * Useful for maintaining consistency and reducing code duplication.
 */

 .mr {
    margin-right: 2em;
 }